body {
    font-size: 62.5%;
}

.schedule__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
}

.schedule__title {
    text-transform: uppercase;
    color: #368c3a;
}

.schedule__table {
    border: 5px dashed #af0a2c;
    border-collapse: collapse;
    border-spacing: 0;
}

.schedule__heading {
    color: #fff;
    background: #5e52aa;
}

.schedule__upper {
    text-transform: uppercase;
}

.schedule__bold {
    font-weight: 700;
}

.schedule__data {
    border: 1px solid #af0a2c;
    padding: 20px;

    text-align: center;
}

.schedule__lunch,
.schedule__lab {
    background: #feeeb2;
}

.schedule__lunch {
    color: #000;
}

.schedule__empty {
    background: #dfdfdf;
}