html {
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 62.5%;
}

.registration {
    position: relative;
    min-height: 100vh;
    font-size: 1.4rem;
}

.reg__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    padding: 20px;
    border: 1px solid #dfdfdf;
    background: rgb(255, 248, 223);
}

.reg__form {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    background: #fff;
}

.form__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 10px;

    width: 300px;
}

.form__label {
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgb(81, 81, 81);
}

.form__input,
.form__select {
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
}

.form__gender {
    display: flex;
    gap: 20px;
}

.form__gender-box {
    display: flex;
    align-items: center;
}

.font__label-gender {
    margin-bottom: 0;
}

.form__btn-box {
    margin-left: 15px;
}

.form__btn {
    height: 30px;
    padding: 5px 10px;
    border: inherit;
    color: #fff;
}

.form__btn-regis {
    background: rgb(221, 44, 44);
}

.form__btn-reset {
    background: rgb(227, 167, 43);
}

.form__error {
    display: none;
    font-size: 0.8rem;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(221, 44, 44);
}

.form__box:has(:invalid):has(.form__input:not(:placeholder-shown)) {
    .form__error {
        display: block;
    }
}

.form__error-country {
    display: block;
}
