body {
    font-size: 62.5%;
    
}

.about__title {
    font-size: 3rem;
    text-align: center;
}

.about__desc,
.about__sub-title {
    font-size: 2rem;
    text-align: center;
}

.about__cards {
    display: flex;
    gap: 5px;

    width: 70%;
    margin: 0 auto;
    border: 1px solid #aaa;
    padding: 5px;
}

.about__card {
    flex: 1;
    border: 1px solid #333;
}

.about__card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.about__card-content {
    padding: 0 10px 15px;
}

.about__card-name {
    font-size: 2rem;
}

.about__card-job,
.about__card__spec,
.about__card-desc {
    font-size: 1.6rem;
}

.about__card-list {
    margin-left: 25px;
}

.about__list-item {
    font-size: 1.5rem;
}

.about__card-btn {
    margin-top: 10px;
    font-size: 1.2rem;
}
